mixin fullnav(currentPath)
  - var pageUrl= currentPath

  #nav.nav.sticky
    #nav-top.nav-flex(role='navigation')
      .nav-logo-wrapper
        #logo.nav-logo-top
          a.logo(href=rootUrl, style='margin-bottom:-50px')
            img(src='/images/sun-ray-pools-logo.png')
      .nav-ghost-wrapper
      .nav-map-wrapper.sm-hide

        // TODO: make this dynamic & pull from model;
        // RN dropdown on 3rd item required me to pull this out
        ul.nav-map-ul
          li.nav-map-li
            a(href='/' id='nav-map-home') Home
          li.nav-map-li
            a(href='/about-us' id='nav-map-about-us') About Us
          li.nav-map-li
            a(href='/photos' id='nav-map-photos'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='false') Photos
              span.caret(style='margin-left:5px;')
            ul.dropdown-menu.dropdown-margin(aria-labelledby='nav-map-photos')
              li
                a(href='/gallery/pools') Swimming Pools
              li
                a(href='/gallery/spas') Spas
              li
                a(href='/gallery/decks') Decks
              li
                a(href='/gallery/waterfalls') Waterfalls
              li
                a(href='/gallery/kitchens') Outdoor Kitchens


        // OLD, DYNAMIC VERSION:
        //-ul.nav-map-ul
        //-  each path, value in nav
        //-    li.nav-map-li
        //-      a.smoothScroll(href='/#{path}' id='nav-map-#{value}')=value

      .nav-sm-only
        a
          button.mobile-menu(type='button')
            span.hidden Menu
      //-.nav-weather-wrapper.sm-hide
      .nav-weather-wrapper#weather-wrapper.sm-hide
        span.call-now
          a(href='tel:9723330714') (972) 333-0714
        canvas#weather-icon(width='36', height='36')
        span#temperature.weather-temperature

    .clearfix
    #nav-mobile.nav-sm-only.collapse-it
      ul.nav-mobile-ul
        each val, index in nav
          a(href='/#{val}')
            li.nav-mobile-li #{index}

    #sub-nav.nav-sub-wrapper.sm-hide
      .nav-sub
        #nav-test.secondary-nav-wrapper
          ul#secondary-ul.secondary-nav
            each path, name in subnav
              li.sub-nav-item(class=path == pageUrl ? 'active-link' : '')
                a(href='#{path}')= name

